global
    chroot  /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user    haproxy
    group   haproxy
    daemon

defaults
    mode    http
    timeout connect 10s
    timeout client  30s
    timeout server  30s
    timeout check   10s

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    stats   enable
    stats   uri /haproxy
    stats   refresh 5s
{% for host in groups["webservers"] %}
    server  {{ host }} {{ hostvars[host].ansible_eth1.ipv4.address }}:80 check inter 2000 rise 2 fall 5
{% endfor %}
