<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello from {{ ansible_hostname }} running on {{ ansible_distribution }} {{ ansible_distribution_version }}!</h1>
  </body>
</html>
